<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="" />
  <title>{% block title %}{% endblock %}</title>
  {% load static %}
  <!-- Bootstrap core CSS -->
  <link href="{% static "/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "/css/bootstrap-grid.min.css" %}" rel="stylesheet">
  <link href="{% static "/css/bootstrap-reboot.min.css" %}" rel="stylesheet">
  <link href="{% static "/css/main.css" %}" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <header class="d-flex m-4 p-2 justify-content-center">
    <h1>{% block header %}{% endblock %}</h1>
  </header>
  <main class="container-fluid">
     {% block content %}
     {% endblock %}
  </main>
  <a href="javascript:" class="back-to-top-bg" id="return-to-top"><i class="icon-chevron-up"></i></a>
  <footer class="d-flex justify-content-center flex-column dproj-footer dproj-bg-footer p-4">
  </footer>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="{% static "/js/jquery-slim.min.js" %}"><\/script>')</script>
  <script src="{% static "/js/jquery-1.9.1.min.js" %}"></script>
  <script src="{% static "/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "/js/bootstrap.min.js" %}"></script>
  <script src="{% static "/js/clipboard.min.js" %}"></script>
  <script src="{% static "/js/anchor.min.js" %}"></script>
  <script src="{% static "/js/popper.min.js" %}"></script>
  <script src="{% static "/js/holder.min.js" %}"></script>
  <script>
    Holder.addTheme('thumb', {
      bg: '#55595c',
      fg: '#eceeef',
      text: 'Thumbnail'
    });
  </script>
  <script>

          // ===== Scroll to Top ==== 
    $(window).scroll(function() {
        if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
            $('#return-to-top').fadeIn(200);    // Fade in the arrow
        } else {
            $('#return-to-top').fadeOut(200);   // Else fade out the arrow
        }
    });
    $('#return-to-top').click(function() {      // When arrow is clicked
        $('body,html').animate({
            scrollTop : 0                       // Scroll to top of body
        }, 500);
    });
  </script>
</body>

</html>